<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15 Grados - Carrito</title>

    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<body>
    
    <!---Control de Vue-->
    <div id="myApp">
        <h1>App 15 Grados: <small>{{newQuote}}</small></h1>
        

        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pedido.html">Pedido online</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>

        <hr>

        <div class="container">
            <input 
            type="text" 
            v-model="newQuote"
            v-on:keypress.enter="addQuote">

            <input 
            type="text" 
            v-model="newPrice"
            v-on:keypress.enter="addQuote">
        </div>

       <br> 
        
        <div class="container">
            <ul class="list-group">
                <li v-for="({quote, author}, index) in quotes" class="list-group-item d-flex justify-content-between align-items-center"> 
                    <span>-{{quote}}</span>
                    <!-- <blockquote v-if="author">-{{author}} </blockquote> -->
                    
                    <blockquote v-show="author">${{author}} </blockquote>
                </li>
            </ul>
        </div>
        
    </div>

    

    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>